@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body{   
background-color: rgb(98, 98, 98);
display: flex;
justify-content: center;
align-items: center;
font-family: "Poppins", serif;

}
input{
width: 10vw;
height: 15vh;
cursor: pointer;
background-color: aliceblue;
font-size: 10vh;
font-family: "Poppins", serif;
}
input:hover{
    background-color:rgb(184, 191, 197) ;
    padding: 1px;
}
.visor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: solid 1px black;
width: 40.7vw;
height: 15vh;
font-size: 10vh;
overflow-x: auto;
overflow-y: hidden;
}
.tudo{
    margin-top: 10vh;   
    align-self: center;
    display: flex;
    flex-direction: column;
  
}
.botoes{
    margin-top: 5vh;
}
.igual{
height: 60vh;
margin-top: 30vh;
}